body{
  background-color: #EEF4D4;
}

.futura {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.arabesque {
  font-family: hwt-arabesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hover:not(:hover){
  transform: scale(1);
  transition: all 0.5s;
}

.hover:hover {
  transform: scale(0.9);
  transition: all 0.5s;
}

.change, .hover{
  transition: all 1s ease;
}

textarea{
  resize: none;
}

textarea:focus{
  outline: none;
}

textarea::-webkit-scrollbar {
  visibility: hidden;
}

input:focus{
  outline: none;
}

#state, #timer{
  transition: all 1s ease-in-out;
}

.menu {
  transition: all 2s ease-in-out;
}